{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Inicio de Sesión {% endblock title %}

{% block content %}
<div class="container" id="formulario_subir">
    <form method="post">
        {% csrf_token %}
        <p class="form_datos">Iniciar Sesión</p>
        <hr class="form_datos"> 
        {{ form|crispy }}
        <div style="text-align:center;">
            <button type="submit" value="submit" class="bt1">Iniciar Sesión</button>
        </div>
    </form>
    <br>
</div>
{% endblock %}